{% extends "base.html" %}

{% block title %}contact{% endblock title %}

{% block body %}

<h2 class="text-primary text-center mt-4" id="contact">CONTACT</h2>

<hr class="mx-auto" style="width: 5rem; background-color: rgb(1, 44, 41); height: 0.3rem;  justify-content: center; ">

<div class="container d-flex  p-0 gap-5 my-3 " style="flex-wrap: wrap;  justify-content: center;">
  <div class="card" style="width: 20rem;">
      
      <div class="card-body">
        <h5 class="text-center">24X7 Helpline:</h5>
        <p class="card-text text-center">+91-000000000</p>
      </div>
  </div>

  <div class="card" style="width: 20rem;">
     
      <div class="card-body">
        <h5 class="text-center">Email:</h5>
        <p class="card-text text-center">care@lifesource.com</p>
      </div>
  </div>

  <div class="card" style="width: 20rem;">
      
      <div class="card-body">
        <h5 class="text-center">Contact:</h5>
        <p class="card-text text-center">+91-000000000</p>
      </div>
  </div>
</div>

{% endblock body %}