{% extends "base.html" %}

{% block title %}services{% endblock title %}

{% block body %}

<h2 class="text-primary text-center mt-4" id="blood-banks">BLOOD BANKS</h2>

<hr class="mx-auto" style="width: 5rem; background-color: rgb(1, 44, 41); height: 0.3rem;  justify-content: center; ">

<div class="container d-flex  p-0 gap-5 mt-3 " style="flex-wrap: wrap;  justify-content: center;">
  <div class="card" style="width: 30rem;">
    <img src="static/image/blood-bank.png" alt="..." width="100px" style="margin-left: 11rem;">
      <div class="card-body">
        <p class="card-text">R.G. Kar Medical College &amp; Hospital Centre - BCSU</p>
        <h3>Kolkata</h3>
      </div>
    </div>
    <div class="card" style="width: 30rem;">
      <img src="static/image/blood-bank.png" alt="..." width="100px" style="margin-left: 11rem;">
      <div class="card-body">
        <p class="card-text">Institute of Blood Transfusion Medicine &amp; Immuno Haematology (Central Blood Centre) - BCSU</p>
        <h3>Kolkata</h3>
      </div>
    </div>
    <div class="card" style="width: 30rem;">
      <img src="static/image/blood-bank.png" alt="..." width="100px" style="margin-left: 11rem;">
      <div class="card-body">
        <p class="card-text">	Calcutta Medical College &amp; Hospital Blood Centre - BCSU</p>
        <h3>Kolkata</h3>
      </div>
    </div>
    <div class="card" style="width: 30rem;">
      <img src="static/image/blood-bank.png" alt="..." width="100px" style="margin-left: 11rem;">
      <div class="card-body">
        <p class="card-text">SSKM Hospital Blood Centre - BCSU</p>
        <h3>Kolkata</h3>
      </div>
    </div>
</div>

{% endblock body %}